@use "variables";
@use "mixins";

.main-footer {
    background-color: variables.$color-amarillo;
    border-top: 0.22rem solid variables.$color-morado;
    padding: 1rem 0;
    margin-top: 1rem;

    .container {
        text-align: center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        
       
        gap: 1.2rem; 

        
        @include mixins.media("desktop") {
            gap: 1.7rem;
        }

        a {
            display: inline-block;
            transition: transform 0.2s ease;
            text-decoration: none;

            &:hover {
                transform: translateY(-3px);
            }

            .icon {
                
                height: 1.5rem; 
                width: auto;
                display: block;

                
                @include mixins.media("desktop") {
                    height: 2rem;
                }

                
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                image-rendering: pixelated;
                filter: brightness(0) saturate(100%) invert(16%) sepia(32%) saturate(3873%) hue-rotate(253deg) brightness(93%) contrast(96%);
            }
        }
    }
}