// src/styles/_mixins.scss

@use "variables" as v; 
@use "sass:map";

// 1. Mapa de Breakpoints
$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
  'wide': 1440px
);

// 2. Mixin para gestionar Media Queries
@mixin media($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "El breakpoint '#{$size}' no existe en el mapa $breakpoints.";
  }
}

// 3. Mixin para botones
@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 1rem; 
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: v.$font-family-boton; 
}
